:root {
    --cor-primaria: #000000;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #E50914;
    --cor-quaternaria: #ad070f;
    --cor-quintenaria: rgba(0, 0, 0, 0.7);
    --cor-sextenaria: rgba(0, 0, 0, 0.644);
    --cor-setenaria: rgb(59, 59, 59);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-secundaria);
}

.cabecalho {
    width: 100vw;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.cabecalho .cabecalho__container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    align-items: start;
    width: 100%;
    margin: auto;
    padding: 24px 12%;
}

.cabecalho .cabecalho__logo img {
    width: 138px;
}

.cabecalho .cabecalho__butoes {
    display: flex;
    gap: 32px;
}

.cabecalho .cabecalho__butoes select {
    padding: 6px 36px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--cor-secundaria);
    font-weight: 700;
    font-size: 16px;
}

.cabecalho .cabecalho__butoes select option {
    color: var(--cor-primaria);
}

.cabecalho .cabecalho__butoes button {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 700;
}

.cabecalho .cabecalho__butoes button:hover {
    background-color: var(--cor-quaternaria);
}

.cabecalho .cabecalho__background {
    background: url("./assets/images/background.png");
    background-size: cover;
    height: 100vh;
    transform: translateY(-100px);
    max-width: 100%;
}

.cabecalho .cabecalho__background::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--cor-quintenaria);
}

.cabecalho .cabecalho__background article {
    position: absolute;
    z-index: 1;
    bottom: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.cabecalho .cabecalho__background article h1 {
    font-size: 48px;
    font-weight: 700;
}

.cabecalho .cabecalho__background article p:nth-child(2) {
    font-size: 24px;
    margin: 18px 0;
}

.cabecalho .cabecalho__background article p:nth-child(3) {
    font-size: 20px;
}

.cabecalho .cabecalho__background article form {
    margin-top: 18px;
    width: 500px;
}

.cabecalho .cabecalho__background article form input:nth-child(1) {
    background-color: var(--cor-sextenaria);
    border: 1px solid var(--cor-setenaria);
    padding: 16px;
    width: 70%;
    color: white;
    border-radius: 3px;
}

.cabecalho .cabecalho__background article form input:nth-child(2) {
    padding: 12px;
    border-radius: 5px;
    width: 29%;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    font-size: 20px;
    border: none;
    transform: translateY(3px);
}

.cabecalho .cabecalho__background article form input:nth-child(2):hover {
    background-color: var(--cor-quaternaria);
}

.cabecalho .cabecalho__promocao {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
}

.cabecalho .cabecalho__promocao .promocao__container {
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    padding: 18px 0;
}

.cabecalho .cabecalho__promocao .promocao__container img {
    width: 120px;
}

.cabecalho .cabecalho__promocao .promocao__container .promocao__descricao p {
    margin: 16px 0;
}

.cabecalho .cabecalho__promocao .promocao__container .promocao__descricao a {
    color: #448ef4;
    font-size: 20px;
}

main {
    background-color: var(--cor-setenaria);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .secao {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0;
}

main .secao h3 {
    font-size: 48px;
    margin-bottom: 24px;
    max-width: 500px;
}

main .secao p {
    width: 500px;
    font-size: 20px;
}

main .secao__onde-quiser,
.secao__baixar {
    flex-direction: row-reverse;
}

main .perguntas-frequentes {
    background-color: var(--cor-primaria);
    flex-direction: column;
}

main .perguntas-frequentes h2 {
    text-align: center;
    margin: 32px 0;
    font-size: 48px;
}

main .perguntas-frequentes p {
    width: fit-content;
}

main .container__topicos {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

main .perguntas-frequentes .topico {
    width: 100%;
}

main .perguntas-frequentes .topico button {
    background-color: rgb(36, 36, 36);
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}

main .perguntas-frequentes .topico button p {
    font-size: 24px;
    color: var(--cor-secundaria);
}

main .perguntas-frequentes .topico .topico__descricao {
    background-color: rgb(56, 56, 56);
    padding: 32px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

main .perguntas-frequentes .topico img {
    width: 40px;
    transform: rotate(45deg);
}

main .perguntas-frequentes .topico .topico__descricao.escondido {
    display: none;
}

main .perguntas-frequentes form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 42px;
}

main .perguntas-frequentes form  p{
    font-size: 20px;
}

main .perguntas-frequentes form article {
    margin-top: 18px;
    width: 500px;
}

main .perguntas-frequentes form article input:nth-child(1) {
    margin-top: 24px;
    background-color: rgba(0, 0, 0, 0.644);
    border: 1px solid var(--cor-setenaria);
    padding: 16px;
    width: 70%;
    color: white;
    border-radius: 3px;
}

main .perguntas-frequentes form article input:nth-child(2) {
    padding: 12px;
    border-radius: 5px;
    width: 29%;
    background-color: var(--cor-terciaria);
    color: white;
    font-size: 20px;
    border: none;
    transform: translateY(3px);
}

main .perguntas-frequentes form article input:nth-child(2):hover {
    background-color: var(--cor-quaternaria);
}

footer {
    margin: 32px 0;
}

footer .container__footer {
    width: 70%;
    margin: auto;
    color: rgb(168, 168, 168);
}

footer a {
    color: rgb(168, 168, 168);
    font-size: 12px;
}

footer .container-footer__listas {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
}

footer .container-footer__listas ul {
    list-style: none;
}

footer .container-footer__listas ul li {
    margin-bottom: 16px;
}

footer select {
    padding: 6px 36px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--cor-secundaria);
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 32px;
}