.rodape {
    width: 80%;
    margin: auto;
    color: rgb(153, 153, 153);
    padding: 3rem 0;

    a {
        color: rgb(153, 153, 153);
        font-size: 14px;
    }
}

.container__footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.container-footer__listas {
    display: flex;
    justify-content: space-between;

    ul {
        list-style-type: none;

        li {
            margin-bottom: 8px;
        
        }
    }
}