@keyframes fechar-topico {
    0% {
        height: 250px;
        padding: 1.5rem;
    }

    100% {
        height: 0;
        padding: 0 1.5rem;
    }
}

@keyframes abrir-topico {
    0% {
        height: 0;
        padding: 0 1.5rem;
    }

    100% {
        height: 250px;
        padding: 1.5rem;
    }
}

.topico {
    width: 100%;

    p {
        color: white;
    }

    button {
        border: none;
        display: flex;
        padding: 1.5rem 2rem;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(34, 34, 34);
        width: 100%;
        margin-bottom: 5px;

        img {
            width: 40px;
        }

        &:hover {
            background-color: rgb(71, 71, 71);
        }

        &:active {
            background-color: rgb(34, 34, 34);
        }
    }

    .topico__descricao {
        background-color: rgb(34, 34, 34);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 32px;
        overflow: hidden;
        animation: fechar-topico 600ms 1 linear alternate forwards;
    }

    .topico__descricao.escondido {
        display: none;
    }
}